---
import List from './List.astro'
import ListItem from './ListItem.astro'
import Male from '../icons/Male.astro'
import Female from '../icons/Female.astro'
import IconContainer from '../icons/IconContainer.astro'
import { GRADIENTS } from '../../lib/color'
import ListTitle from './ListTitle.astro'
import ListDesc from './ListDesc.astro'
import Title from '../ui/Title.astro'
import { GROOM_FULLNAME } from 'astro:env/client'
import { GROOM_TITLE } from 'astro:env/client'
import { GROOM_ROLE } from 'astro:env/client'
import { GROOM_PARENTS } from 'astro:env/client'
import { BRIDE_FULLNAME } from 'astro:env/client'
import { BRIDE_TITLE } from 'astro:env/client'
import { BRIDE_ROLE } from 'astro:env/client'
import { BRIDE_PARENTS } from 'astro:env/client'

const couples = [
  {
    name: `${GROOM_FULLNAME}, ${GROOM_TITLE}`,
    parents: `${GROOM_ROLE} dari ${GROOM_PARENTS}`,
    icon: Male,
    color: GRADIENTS.purple
  },
  {
    name: `${BRIDE_FULLNAME}, ${BRIDE_TITLE}`,
    parents: `${BRIDE_ROLE} dari ${BRIDE_PARENTS}`,
    icon: Female,
    color: GRADIENTS.red
  }
]
---

<section class="overflow-hidden">
  <div class="container mx-auto py-12 xl:py-16 px-4 sm:px-6 lg:px-36 xl:px-48 space-y-10">
    <div class="lg:flex gap-x-8 lg:gap-x-16 items-center justify-between">
      <img
        src="/images/couple.png"
        loading="lazy"
        class="dark:invert dark:grayscale dark:brightness-0 w-full lg:w-1/2 h-auto sm:w-auto sm:max-h-44 xl:max-h-72 mx-auto lg:mx-0 relative pointer-events-none mb-4 lg:mb-0"
      />
      <div class="lg:max-w-xl space-y-2">
        <Title className="relative inline-block pointer-events-none">Calon Pengantin</Title>
        <p class="text-muted-foreground text-base lg:text-lg relative inline-block pointer-events-none">
          Atas izin Allah dan restu kedua orang tua, dua hati dipertemukan dalam kebaikan untuk membangun rumah tangga yang
          sakinah, mawaddah, wa rahmah.
        </p>
      </div>
    </div>
    <List>
      {
        couples.map(({ icon: Icon, ...couple }) => (
          <ListItem>
            <IconContainer color={couple.color}>
              <Icon />
            </IconContainer>
            <div class="space-y-2">
              <ListTitle>{couple.name}</ListTitle>
              <ListDesc>{couple.parents}</ListDesc>
            </div>
          </ListItem>
        ))
      }
    </List>
  </div>
</section>
