---
import { Invitee } from '@/lib/schema'
import { formatAttendanceTime } from '@/lib/utils'
import ListItem from './ListItem.astro'
import IconContainer from '../icons/IconContainer.astro'
import House from '../icons/House.astro'
import Ring from '../icons/Ring.astro'
import Dish from '../icons/Dish.astro'
import { Button } from '../ui/button'
import Location from '../icons/Location.astro'
import Calendar from '../icons/Calendar.astro'
import { GRADIENTS } from '@/lib/color'
import ListTitle from './ListTitle.astro'
import Title from '../ui/Title.astro'
import dayjs from 'dayjs'
import utc from 'dayjs/plugin/utc'
import 'dayjs/locale/id'
import { WEDDING_DATE } from 'astro:env/client'
import { VENUE_NAME } from 'astro:env/client'
import { VENUE_ADDRESS } from 'astro:env/client'
import { VENUE_GMAPS } from 'astro:env/client'

dayjs.extend(utc)

interface Props {
  invitee?: Invitee
}

const { invitee } = Astro.props
const date = dayjs(WEDDING_DATE).utcOffset(7)
const eventDetails = [
  {
    label: 'Hari, Tanggal',
    value: dayjs(WEDDING_DATE).locale('id').format('dddd, D MMMM YYYY'),
    icon: Calendar,
    color: GRADIENTS.orange
  },
  {
    label: 'Akad',
    value: `${date.format('HH.mm')} - ${date.add(1, 'h').format('HH.mm')} WIB`,
    icon: Ring,
    color: GRADIENTS.yellow
  },
  {
    label: 'Walimah',
    value: `${formatAttendanceTime(invitee?.time || '12.00-13.00')} WIB`,
    icon: Dish,
    color: GRADIENTS.green
  },
  {
    label: 'Lokasi',
    value: VENUE_NAME,
    desc: VENUE_ADDRESS,
    isLocation: true,
    icon: House,
    color: GRADIENTS.blue
  }
]
---

<section class="overflow-hidden">
  <div class="container mx-auto pt-4 pb-12 xl:pt-12 xl:pb-20 px-4 sm:px-6 lg:px-36 xl:px-48 grid gap-20 items-center">
    <div class="lg:flex gap-x-8 lg:gap-x-16 items-center lg:flex-row-reverse">
      <img
        src="/images/stage.png"
        loading="lazy"
        class="dark:invert dark:grayscale dark:brightness-0 w-full lg:w-1/2 h-auto sm:w-auto sm:max-h-44 xl:max-h-72 mx-auto relative pointer-events-none mb-4 lg:mb-0"
      />
      <div class="lg:max-w-xl space-y-2">
        <Title className="relative inline-block pointer-events-none">Acara</Title>
        <p class="text-muted-foreground text-base lg:text-lg relative inline-block pointer-events-none">
          Hari yang kami tunggu akhirnya datang juga. Insyaallah kami akan melangsungkan pernikahan pada:
        </p>
        <ul class="pt-4 space-y-12">
          {
            eventDetails.map(({ icon: Icon, ...detail }) => (
              <ListItem>
                <IconContainer color={detail.color}>
                  <Icon />
                </IconContainer>
                <div>
                  <p class="text-base text-muted-foreground text-balance leading-none">{detail.label}</p>
                  <ListTitle>{detail.value}</ListTitle>
                  {detail.desc && <p class="text-sm text-muted-foreground text-balance">{detail.desc}</p>}
                  {detail.isLocation && (
                    <Button size="sm" className="bg-foreground hover:bg-foreground/90 rounded-full mt-2">
                      <a href={VENUE_GMAPS} class="flex gap-1 font-normal" target="_blank">
                        <Location /> Google Maps
                      </a>
                    </Button>
                  )}
                </div>
              </ListItem>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
